.primary-color{
    background-color: #21a359;    
}

.secondary-color{
    background-color: #333;
}


header > div{
    height: 70px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.hamburger-menu{
    color:grey;
    background:none;
    border:1px solid lightgrey;
}

.main-nav{
    
}

.main-nav ul{
    display: flex;
    list-style-type: none;
    gap:10px;
    margin:0;
}

.main-nav a{
    color:white;
    text-decoration: none;
}

.hero {
    text-align: center;
    color:white;
    padding:10px 0;
    margin-bottom: 30px;
}

.hero img{
    width: 300px;
}

.hero h4{
    font-size: 20px;
}

.container-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}

.container-icons i{
    font-size: 30px;
}

.line{
    height: 5px;
    width: 90px;
    border-radius: 5px;
}

#portfolio{
    text-align: center;
}

#portfolio img{
    width: 100%;
    text-align: center;
}



