.secondary-color{
    background-color: #333;
}

header > div{
    height: 70px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.hamburger-menu{
    color:grey;
    background:none;
    border:1px solid lightgrey;
}

.main-nav{
    
}

.main-nav ul{
    display: flex;
    list-style-type: none;
    gap:10px;
    margin:0;
}

.main-nav a{
    color:white;
    text-decoration: none;
}